html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

header{
    background-color: #0e3969;
    padding: 15px;
    overflow: auto;
    border-bottom: 6px solid #5aa5e2;
}

header img{
    float: left;
    width: 10%;
    vertical-align: middle;
}

.title{
    float: left;
    text-align: center;
    font-size: 40pt;
    color: white;
    width: 80%;
}

.sign-out{
    float: right;
    width: 10%;
    color: white;
    text-align: center;
}

nav{
    background-color: #166aaf;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
}

nav a{
    display: block;
    color: white;
    text-decoration: none;
    flex-grow: 1;
    padding: 12px;
}

nav a:hover{
    background-color: #0e3969;
}

nav a:active{
    opacity: 0.7;
}

.body-container{
    float: left;
    margin: 2%;
    height: 600px;
}

.container-actividades{
    width: 57%;
    margin-right: 1%;
    background-color: #0e3969;
    border-radius: 15px;
    overflow-y: auto;
}

::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

.actividad{
    width: 96%;
    height: 150px;
    margin: 2%;
    background-color: #166aaf;
    border-radius: 15px;
}

.actividad .left-container{
    float: left;
    width: 25%;
    margin-left: 5%;
    margin-top: 1.5%;
    margin-right: 2.5%;
}

.actividad .left-container img{
    width: 100%;
    border-radius: 10px;
    border: 2px solid #5aa5e2;
}

.actividad .right-container{
    float: left;
    width: 60%;
    margin-left: 2.5%;
    margin-right: 5%;
    color: white;
}

.titulo-actividad{
    text-align: center;
}

.descripcion-actividad{
    font-weight: normal;
    text-align: justify;
}


.container-noticias{
    width: 37%;
    margin-left: 1%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.noticia{
    width: 94%;
    margin: 3%;
    margin-bottom: 0;
    background-color: #166aaf;
    border-radius: 15px;
    border: 2px solid #0e3969;
    flex-grow: 1;
}

.noticia .left-container{
    float: left;
    width: 45%;
    padding-left: 2%;
    padding-top: 3%;
    padding-right: 1%;
}

.noticia .left-container img{
    width: 100%;
    border-radius: 10px;
    border: 2px solid #0e3969;
}

.noticia .right-container{
    float: left;
    width: 46%;
    padding-right: 3%;
    padding-left: 3%;
    color: white;
}

.titulo-noticia{
    text-align: center;
}

.subtitulo-noticia{
    font-weight: normal;
    text-align: justify;
}

.ultima-noticia{
    margin-bottom: 3%;
}

footer{
    clear: both;
    text-align: center;
    background-color: #0e3969;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 6px solid #5aa5e2;
}

footer a{
    text-decoration: none;
}